<p>Your not currently a member of nereus. Nereus is one of the two methods of data processing the we are using, it allows processing through Java.

<%= link_to "Join theSkyNet on Nereus.", new_nereus_path %>

</p>
