<p>Enter your sky net (nereus) account details to sync your nereus account</p>
<%= form_tag('/profile/update_nereus_id', :method => 'post') do %>
    <%= label_tag(:nereus_id, "theSkyNet Account ID (nereus):") %>
    <%= text_field_tag(:nereus_id) %>
    <%= submit_tag("update") %>

<% end %>