<h2>Welcome to the boinc system.</h2>
<p>To contribute to our boinc project you must download the software from <%= link_to 'here' "http://boinc.berkeley.edu/download.php" %>.</p>
<p>When prompted enter <strong><%= APP_CONFIG['boinc_url'] %></strong> and your SkyNet username and password</p>