-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface Account Dashboard
  -@user_page =  'dashboard'
  =render 'layouts/user_nav'

-content_for(:content) do
  #content-wrap
    #dashboard
      .row-fluid
        .span7.well#general
          = render 'profiles/dashboard/general_dashboard'
        .span5
          .row-fluid
            .span12.well#leaderboards
              = render 'profiles/dashboard/ladder_dashboard'
          .row-fluid
            .span12.well#alliance
              =render 'profiles/dashboard/alliances_dashboard'
      .row-fluid
        .span6.well
          =render 'profiles/dashboard/boinc_dashboard'
        .span6.well.nereus
          =render 'profiles/dashboard/nereus_dashboard'



      .row-fluid
        .span12.well.graphs
          -boinc_id= @profile.general_stats_item.boinc_stats_item.boinc_id if @profile.general_stats_item.boinc_stats_item != nil
          -boinc_id = GraphitePathModule.path_for_stats(boinc_id)
          -nereus_id= @profile.general_stats_item.nereus_stats_item.nereus_id if @profile.general_stats_item.nereus_stats_item != nil
          #chart_container{:data => {:boinc_id=>boinc_id, :nereus_id=> nereus_id, :profile_id => @profile.id}}