- my_meta :title => "Your Dashboard",
    :description => "This page contains all the key data for monitoring your theSkyNet.org account"
-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface Account Dashboard
  -@user_page =  'dashboard'
  =render 'layouts/user_nav'

-content_for(:content) do
  #content-wrap
    #dashboard
      .row-fluid
        .span7.well.well-white#general
          = render 'profiles/dashboard/general_dashboard'
        .span5
          .row-fluid
            .span12.well.well-white#leaderboards
              = render 'profiles/dashboard/ladder_dashboard', minimise: true
          .row-fluid
            .span12.well.well-white#alliance
              =render 'profiles/dashboard/alliances_dashboard'
      .row-fluid
        .span12.well.well-white#challenge
          =render 'profiles/dashboard/challenges_dashboard'

      .row-fluid
        .span6.well.well-white#boinc
          =render 'profiles/dashboard/boinc_dashboard'

        =render 'profiles/dashboard/nereus_dashboard'



      .row-fluid
        .span12.well.well-white.graphs
          -boinc_id= @profile.general_stats_item.boinc_stats_item.boinc_id if @profile.general_stats_item.boinc_stats_item != nil && @profile.general_stats_item.boinc_stats_item.credit > 0
          -nereus_id= @profile.general_stats_item.nereus_stats_item.nereus_id if @profile.general_stats_item.nereus_stats_item != nil && @profile.general_stats_item.nereus_stats_item.credit > 0
          -data = {}
          -data[:nereus_id] = nereus_id if nereus_id
          -data[:boinc_id] = boinc_id if boinc_id
          -data[:profile_id] = @profile.id
          #chart_container{:data => data}