<%content_for(:title_bar) do %>
    <div id="intro-sml-wrap">
        <h1 class="fontface">Welcome to theSkyNet</h1>
    </div>

<% end %>

<%content_for(:content) do %>

    <div id="content-wrap">

        <div class="shadowed">
            <div class="inner-boundary">
                <div id="content-inner">
                    <h2>Excellent now we need to setup your account to start collecting credits</h2>
                    <p>We offer two methods for gaining credits. Boinc and Nereus. For now just choose one but we will offer you the opportunity to sign up for the other one later.</p>
                    <h2>For boinc</h2>

                    <%= render 'boinc_forms' %>
                    <br />
                    <h2>Or for Nereus (original Sky Net)</h2>
                    <%= render 'nereus_form' %>

                </div>
            </div>
        </div>
    </div>
<% end %>