<h2>Excellent now we need to setup your account to start collecting credits</h2>
<p>We offer two methods for gaining credits. Boinc and Nereus. For now just choose one but we will offer you the opportunity to sign up for the other one later.</p>
<p>For boinc</p>
<%= render 'boinc_forms' %>
<p>Or for Nereus</p>
<%= render 'nereus_form' %>

