<%content_for(:title_bar) do %>
    <div id="intro-sml-wrap">
        <h1 class="fontface">Welcome to theSkyNet</h1>
    </div>
<% end %>

<%content_for(:content) do %>

    <div id="content-wrap">

        <div class="shadowed">
            <div class="inner-boundary">
                <div id="content-inner">
                    <h2>Welcome to the Sky Net!</h2>
                    <p>First we need to grab some personal details such as your name and where your from</p>
                    <%= render 'form' %>
                </div>
            </div>
        </div>
    </div>
<% end %>