<p><b>Boinc</b>
    <%
       boinc = @profile.general_stats_item.boinc_stats_item
       if boinc == nil
    %>
        <%= render 'boinc_forms' %>
    <% else %>
        <br/>
        <%= "Credit = #{boinc.credit}" %>
        <br/>
        <%= "Recent Average Credit = #{boinc.RAC}" %>
    <% end %>
</p>