.pull-right= image_tag('nereusv_logo.png')
%h2 Nereus

.startedskynet
  #content-inner-account{:style=>"overflow:hidden;cursor:pointer;", :onClick=>"run(101032);",
   :class=>"sameheight:top"}
    #startbutton
      =image_tag 'startbutton.png', :style => 'border:0;', :wdith=> 126, :height => 126, :alt => 'Start theSkyNet'
    #starttext.pullright
      %h2#startHeader Start theSkyNet
      %p#startText Start contributing your computer power now!