#perform_action_list {
  .action_item {
    display: block;
    border:  1px solid black;
    padding: 3px;
    height: auto;
    .name {
      height: 24px;
      padding: 0px 3px;
      margin: 0px 3px;
      display: inline;
    }
    .costs {
      float:right;
      display: block;
      > * {
        height: 24px;
        display: inline;
        padding: 0px 3px;
        margin: 0px 3px;
      }

      .cost, .duration {
        //float: right;
        width: 70px;
        border-right: 1px dotted black;
      }
      .perform {
        width: 100px;
        //float:right;
        padding: 0px 0px;
        margin: 0px 0px;
        height: auto;
        button {
          .btn;
          .btn-primary;
          .btn-xs;
        }
      }
    }
    &:hover {
      background-color: lightblue;
    }
    &.disabled{
      &:hover {
        background-color: lightpink;
      }
    }

  }

}