//ownership colours
@mine: #AFEAAA;
@home: #41924B;
@hostile: #FE8402;
@unowned: #6BCAE2;
@unknown: #000e3f;
@mini_map_font_dark:#428bca;
@mini_map_font_light: #87cdff;

#mini_map_map {
  position: relative;
  padding: 0px;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  #view_window {
    margin: 0px;
    padding: 0px;
    position: absolute;
    border: 1px solid red;
    z-index: 2;
    pointer-events:none;
  }
  .mini_map_row {
    position: relative;
    z-index:1;
    height: 16px;
    margin:0px;
    padding: 0px;
    line-height: 16px;
    .quadrant {
      display: inline-block;
      height: 16px;
      width: 16px;
      margin:0px;
      padding: 0px;
      text-align: center;
      vertical-align: middle;
      line-height: 16px;
      background-color: @unknown; //default not owned by anyone or unknown
      a {color: white;} //default not owned by anyone or unknown
    }
  }
}
#galaxy_board {
  .controls {
    color: black;
  }
  .board {
    .board-all{
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
       //rows
      .x-labels-row, .board-row {
        display: block;
        margin:0px;
        padding: 0px;
      }
      //columns
      .x-labels-column, .y-label-column, .xy-label-column, .board-column {
        height:80px;
        display: inline-block;;
        margin:0px;
        padding: 0px;
      }
      //heights
      //quadrant height
      .board-row, .y-label-column, .board-column {
        height: 80px;
      }
      //label height
      .x-labels-row, .xy-label-column, .x-labels-column {
        height: 1.5em;
      }
      //widths
      //quadrants width
     .x-labels-column, .board-column {
        width: 80px;
      }
      //labels width
      .xy-label-column, .y-label-column {
        width: 3em;
      }
      //backgrounds
      .board-column {
        position: relative;
      }
      .quadrant-background {
        margin: 0px;
        padding: 0px;
        position: absolute;
        z-index: 2;
        pointer-events:none;
      }
      //quadrants box
      .quadrant {
        height: 80px;
        width: 80px;
        overflow: hidden;
        white-space: pre-wrap;
        position: relative;
        z-index:3;
      }
      //axis labels
      .x-labels-column, .y-label-column, .xy-label-column {
        text-align: center;
        vertical-align: middle;
      }
    }
  }
  .board, .key {
    color: black;
    .board-column{
      .quadrant.selected {
        .quadrant_styling(true);
      }
      .quadrant.not_selected {
        .quadrant_styling(false);
      }
    }
    .quadrant_key{
      .quadrant {
        .quadrant_styling(false);
      }
    }

    .quadrant_styling(@selected) {
      padding: 5px ;
      margin: 0px;
      cursor: pointer;
      .glyphicon {
        margin-right: 5px;
        &.glyphicon {
          &.enemy {
            color: #FE8402;
          }
          &.mine {
            color: #AFEAAA;
          }
        }
      }
      //border style
      .border_style() when (@selected = true) {
        border-style: dashed;
      }
      .border_style() when not (@selected = true) {
        border-style: solid;
      }
      //boarder colors
      border: 4px solid @unknown; //default not owned by anyone or unknown
      .border_style();
    }
  }
}
//http://www.colorcombos.com/color-schemes/424/ColorCombo424.html
//http://vanisoft.pl/~lopuszanski/public/colors/