- per_page_list ||= [10,20,50]
- extra_options ||= {}
.pagination
  Number to display per page:
  %ul
    - per_page_list.each do |value|
      %li= link_to value, params.merge(:per_page => value).merge(extra_options)
