.under_construction_notice.alert
  .strong Warning!
  This section is still under construction.
  For more information on the new challenges feature please check out the forums
  = link_to 'forums.', 'http://forums.theskynet.org/viewtopic.php?f=4&t=2779'
