<%content_for(:title_bar) do %>
  <div id="intro-sml-wrap">
      <h1 class="fontface"><%= @title %></h1>
  </div>
  <ul id="nav">
      <% @links.each do |link| %>
         <li <%=  'class=on' if (link == @page) %>><%= link_to(link.title, link)  %></li>
      <% end %>
  </ul>
<% end %>

<%content_for(:content) do %>
    <div id="content-wrap">
        <div class="shadowed">
            <div class="inner-boundary">
                <div id="content-inner">
                    <%= @content %>
                </div>
            </div>
        </div>
    </div>
<% end %>