#ladder-table li {width:100%;padding:14px 0 15px 10px;}
.ladder-data {margin-top:-15px;}
.tab_container {padding-bottom:24px;}
ul#nav { margin: 29px auto; width: 855px;}
.headermargin {padding-bottom:5px;}
#intro-sml-wrap {padding: 12px 0 0 45px;}
.return {top: 37px;}
