- my_meta :title => t("contact_forms.controller.thank_you"),
    :description => ""
-content_for :title_bar do
  #intro-sml-wrap
    %h1.fontface= t "contact_forms.title"

-content_for :content do
  #content-wrap
    .well.well-white
      %h2= t "contact_forms.controller.thank_you"
      %p= t ".msg"
      %p= link_to t("nav.home"), root_url, :class => 'button'