@font-face {
  font-family: 'YanoneKaffeesatzRegular';
  src: url('./fonts/YanoneKaffeesatz-Regular-webfont.eot');
  src: url('./fonts/YanoneKaffeesatz-Regular-webfont.eot?#iefix') format('eot'),
  url('./fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'),
  url('./fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'),
  url('./fonts/YanoneKaffeesatz-Regular-webfont.svg#webfonthKXnaAjv') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'LatoBold';
  src: url('./fonts/Lato-Bold-webfont.eot');
  src: url('./fonts/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Lato-Bold-webfont.woff') format('woff'),
  url('./fonts/Lato-Bold-webfont.ttf') format('truetype'),
  url('./fonts/Lato-Bold-webfont.svg#LatoLight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'LatoLight';
  src: url('./fonts/Lato-Light-webfont.eot');
  src: url('./fonts/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Lato-Light-webfont.woff') format('woff'),
  url('./fonts/Lato-Light-webfont.ttf') format('truetype'),
  url('./fonts/Lato-Light-webfont.svg#LatoLight') format('svg');
  font-weight: normal;
  font-style: normal;

}

#container {
  width:900px;
  margin:auto;
}
body {
  background:#000000 url('./images/bodybg.jpg') top center no-repeat;
  margin:0;
  padding:0;
  font-family: Arial,Helvetica,sans-serif;
}
#login-top-wrap {background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4); width:100%; height:45px; border-bottom:1px solid #1d2a39; margin: 0px}
#login-top {width:960px; margin:0 auto; text-align:right;}
#login-top p {float:right; display:block; margin-right:10px; font-size:12px; margin-top:12px; color:#ccc;}
#login-top p a:link {color:#ccc;}
#login-top p a:visited {color:#ccc;}
#login-top .button {margin-top:8px; float:right; display:block; margin-left:5px;}

#notify-wrapper {width:960px; background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);height:45px; border:1px solid #1d2a39; margin: 0px auto}
#alert, #notice {margin:0 auto; text-align:center;}
#alert p {display:inline-block; padding: 0 10px; margin:auto; background-color: #e7e7e7; color: #ff0000}
#notice p {background-color: #e7e7e7; color: green}


.clearing {clear:both;}
p {font-size:0.813em; line-height: 1.7143em; font-family: Arial,Helvetica,sans-serif; color:#333333;}
a:link {color:#000; text-decoration:underline; font-family: Arial,Helvetica,sans-serif;}
a.button {text-decoration:none;}
a:hover {color:#97418b;}
#content-wrap-dashboard a:link {color:#76315e; text-decoration:underline;}
#content-wrap-dashboard a:hover {color:#ad4a8b;}
#wrapper {width:960px; margin:0 auto;}
#header {float:left; height:160px; margin-top:20px;}
#header a:link, #header a:visited {background:url('./images/logo.png') 0 0 no-repeat; display:block; width:170px; height:134px; margin-left:50px; text-indent:-9999px;}
.return a:link {font: 22px/40px 'LatoLight',Arial,sans-serif;}


ul#globalnav {height:50px; list-style-type:none; margin-top:58px; padding-left:15px; float:right;}
ul#globalnav li {display: block; float: left;}
ul#globalnav li.on {display: block;}
ul#globalnav li a {color:#ffffff; font-size:1em;display: block;}
ul#globalnav li a:link {font: 23px/50px 'LatoLight', Arial, sans-serif; font-weight:bold;}
ul#globalnav li a:visited {font: 23px/50px 'LatoLight', Arial, sans-serif; font-weight:bold;}
ul#globalnav li a:hover {color:#c2e7fb;}
ul#globalnav a, ulglobal#nav a:link, ul#globalnav a:visited { color:#ffffff;display: block;font-size: 1em;padding: 0 15px;text-decoration: none;}

ul#globalnav li.on a:link {font: 23px/50px 'LatoBold', Arial, sans-serif;}
ul#globalnav li.on a:visited {font: 23px/50px 'LatoBold', Arial, sans-serif;}
ul#globalnav li.on a:hover {font: 23px/50px 'LatoBold', Arial, sans-serif;}


ul#nav {background: url("./images/navbg.jpg") repeat-x scroll 0 0 transparent; height:50px; list-style-type:none; margin:30px auto; padding-left:15px; width:856px;font-family: Arial,Helvetica,sans-serif;}
ul#nav li {display: block; float: left;line-height: 50px; background:url("../images/nav-r.jpg") top right no-repeat; }
ul#nav li.on {background: url("./images/navbg-on.jpg") repeat-x;display: block;}
ul#nav li a {color:#ffffff; font-size:1em;display: block;display:block}
ul#nav li a:hover {background: url("./images/navbg-on.jpg") repeat-x;}
ul#nav a, ul#nav a:link, ul#nav a:visited { color:#ffffff;display: block;font-size: 1em;padding: 0 15px;text-decoration: none;}
ul#nav li.on a {background: url("./images/subnavon.png") bottom center no-repeat;}

#content {width:960px; background:url("./images/contentbg.jpg") repeat-x scroll center top #D1D1D1; overflow:hidden;}
#content-wrap {width:870px; margin: 0 auto; background:url('./images/contenttop.jpg') top center no-repeat;}
#content-wrap-dashboard {width:870px; margin: 20px auto;}
#content-wrap-news {width:870px; margin:20px 0 auto; padding:40px 45px 20px; background:#e7e7e7 url('../images/homenewsbg.jpg') top repeat-x; border-top:1px solid #cacaca;}
#content-wrap-home {width:870px; margin: 0 auto; background:url('./images/contenttop2.jpg') top center no-repeat; padding-top:60px;}
#content h2 {font-family: Helvetica, Helvetica Neue, Arial, sans-serif; color:#3a3a3a; margin:0; font-size:1.4em; font-weight:normal;}
#content h3 {font-family: Helvetica, Helvetica Neue, Arial, sans-serif; color:#3a3a3a; margin:0; font-size:1.1em; font-weight:bold;}
#content h4 {font-family: Helvetica, Helvetica Neue, Arial, sans-serif; color:#3a3a3a; margin:0; font-size:1.1em; font-weight:normal;}
#content h3.info-home {padding-left:30px; padding-top:3px; background:url('./images/icon-home.jpg') 0 0 no-repeat;}
#content h3.info-schools {padding-left:30px; padding-top:3px; background:url('./images/icon-schools.jpg') 0 0 no-repeat;}
#content h3.info-universities {padding-left:30px; padding-top:3px; background:url('./images/icon-universities.jpg') 0 0 no-repeat;}
#content h3.info-businesses {padding-left:30px; padding-top:3px; background:url('./images/icon-businesses.jpg') 0 0 no-repeat;}
#content-inner {padding:25px;}
#content-inner-account, #content-inner-account-padding {padding:20px;}
#content-inner-account.no-padding {padding:0px;}

#footer {width:960px; background:#353535 url('./images/footerbg.jpg') top center repeat-x; overflow:hidden; margin-bottom:35px;}
#footer-icrar {float:left; padding-bottom:15px;}
#footer-map {float:right; margin-right:45px; padding-top:15px; margin-top:15px; padding-bottom:45px;}
#footer-social {float:right; margin-right:45px; background:url('./images/footersocialbg.jpg') top left no-repeat; margin-top:15px; padding-left:45px; padding-top:15px; padding-bottom:45px;}
#footer a:hover {color:#cccccc;}
#footer a {color:#828282; text-decoration:none;font-size:0.75em; line-height:1.8em; font-family: Arial,Helvetica,sans-serif; border:0;}
#footer img {border:0;}
#footer a.icon {background-position: left center; background-repeat: no-repeat;padding-left: 25px;}
#footer a.twitter {background-image: url('./images/twitter.gif');}
#footer a.facebook {background-image: url('./images/facebook.gif');}
#footer a.rss {background-image: url('./images/rss.gif');}

.inner-boundary {background-color: #ffffff; background-repeat: repeat-x; border: 1px solid #BBBBBB; margin: -2px 0 0 -2px;overflow:hidden;}
.inner-boundary-soon {background-color: #ffffff; background-repeat: repeat-x; border: 1px solid #BBBBBB; margin: -2px 0 0 -2px;min-height:232px;}
.inner-boundary .inner-border { border: 1px solid #FEFEFE;}
.inner-boundary-soon .inner-border { border: 1px solid #FEFEFE;}
.shadowed { border: 1px solid #BBBBBB;}

#content {width:960px; background:url("./images/contentbg.jpg") repeat-x scroll center top #D1D1D1; overflow:hidden;}
#content-wrap {width:870px; margin: 0 auto; background:url('./images/contenttop.jpg') top center no-repeat;}
#content-wrap-dashboard {width:870px; margin: 20px auto;}
#content-wrap-news {width:870px; margin:20px 0 auto; padding:40px 45px 20px; background:#e7e7e7 url('./images/homenewsbg.jpg') top repeat-x; border-top:1px solid #cacaca;}
#content-wrap-home {width:870px; margin: 0 auto; background:url('./images/contenttop2.jpg') top center no-repeat; padding-top:60px;}
#content h2 {font-family: Helvetica, Helvetica Neue, Arial, sans-serif; color:#3a3a3a; margin:0; font-size:1.4em; font-weight:normal;}
#content h3 {font-family: Helvetica, Helvetica Neue, Arial, sans-serif; color:#3a3a3a; margin:0; font-size:1.1em; font-weight:bold;}
#content h4 {font-family: Helvetica, Helvetica Neue, Arial, sans-serif; color:#3a3a3a; margin:0; font-size:1.1em; font-weight:normal;}
#content h3.info-home {padding-left:30px; padding-top:3px; background:url('./images/icon-home.jpg') 0 0 no-repeat;}
#content h3.info-schools {padding-left:30px; padding-top:3px; background:url('./images/icon-schools.jpg') 0 0 no-repeat;}
#content h3.info-universities {padding-left:30px; padding-top:3px; background:url('./images/icon-universities.jpg') 0 0 no-repeat;}
#content h3.info-businesses {padding-left:30px; padding-top:3px; background:url('./images/icon-businesses.jpg') 0 0 no-repeat;}
#content-inner {padding:25px;}
#content-inner-account, #content-inner-account-padding {padding:20px;}
#content-inner-account.no-padding {padding:0px;}

/*** Rickshaw graph styles****/
#chart {
  position: relative;
  left: 40px;
  z-index:1;
}
#y_axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
}
#legend {
  z-index:2;
  top:50px;
  float:right
}