<div id="footer-icrar">
    <a href="http://www.icrar.org" target="_blank">
       <%= image_tag "icrar.jpg", :size => "276x114", :alt => "ICRAR" %>
    </a>
</div>

<div id="footer-social">

    <a class="icon twitter" href="http://twitter.com/#!/_theskynet">Follow us on Twitter</a>
    <br>
    <a class="icon facebook" href="http://www.facebook.com/pages/TheSkyNet/214061585306810">Become a Facebook fan</a>
    <br>
    <a class="icon rss" href="blog/?feed=rss2">Join RSS Feed</a>


</div>

<div id="footer-map">

    <a href="index">Home</a><br>
    <a href="sitemap">Sitemap</a><br>
    <a href="contact/index">Contact Us</a><br>
    <a href="about/privacy">Privacy Statement</a>

</div>
