<ul id="globalnav" class="nav nav-pills">
  <li><%= link_to t("nav.home"), main_app.root_url %></li>
  <li><%= link_to t("nav.about"), {:controller => "/pages", :action => "show", :slug => "about"} %></li>
  <li><%=  link_to t("nav.science"), science_portals_path%></li>
  <li><%= link_to t("nav.contact"), new_contact_form_path %></li>
</ul>